.uiContainer {
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
.resourceDiv {
    max-width: 150px;
    max-height: 150px;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 5px;
    transition: box-shadow 0.5s ease-in-out;
    margin: 2px;
}
.resType {
    min-width: 62px;
    display: flex;
    justify-content: flex-end;
    padding: 0 0 0 4px;
}
.defense {
    background-color: rgba(51, 51, 51, 0.8);
}
.power {
    background-color: rgba(17, 17, 153, 0.8);
}
.offense {
    background-color: rgba(153, 17, 17, 0.8);
}
.imageDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 3px;
    padding: 4%;
    outline: none;
}
.imgContainer {
    position: relative;
    padding: 2%;
    display: flex;
    align-items: center;
    max-width: 67px;
    max-height: 67px;
}
.resourceCountDiv {
    width: 100%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.replenishCount {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding: 2%;
}