.playerName {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 4px;
}

.ship {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shipImageDiv {
    max-height: 200px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shipUI {
    background-color: rgba(51, 51, 51, 0.8);
    padding: 5px;
}

.effectsContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.effect {
    opacity: 0;
    position: fixed;
}

.statusEffects {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.6);
    min-height: 34px;
    margin-top: 5px;
}

.statusIcon {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
