.cardBody {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items:center;
    width: 180px;
    height: 290px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid white;
    border-radius: 2px;
    text-align: center;
    top: 0;
    left: 0;
    transition: transform 1s;
}
.hoverEffect:hover {
    box-shadow: 0 0 3px 2px rgba(255, 255, 255, 0.6);
    cursor: pointer;
}
.disabled {
    width: 180px;
    height: 290px;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}
.imgContainerDiv {
    width: 160px;
    height: 160px;
    background-color: rgba(0, 0, 0, 0.6);
    border-top-left-radius: 100%266%;
    border-top-right-radius: 100%266%; 
    border-bottom-left-radius: 100%266%;
    border-bottom-right-radius: 100%266%;
}
.img {
    width: 160px;
    height: 160px;
    object-fit: fill;
    background-color: rgba(0, 0, 0, 0.6);
    border-top-left-radius: 100%266%;
    border-top-right-radius: 100%266%; 
    border-bottom-left-radius: 100%266%;
    border-bottom-right-radius: 100%266%;
}
.titleSpan {
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textSpan {
    height: 60px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}
.cardCost {
    position: absolute;
    right: 158px;
    top: 260px;
}
.cardIcon {
    position: absolute;
    left: 153px;
    top: 260px;
}
.defense {
    background-color: rgba(51, 51, 51, 0.8);
}
.power {
    background-color: rgba(17, 17, 153, 0.8);
}
.offense {
    background-color: rgba(153, 17, 17, 0.8);
}