.cardBody {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items:center;
    width: 180px;
    height: 290px;
    padding: 5% 5% 5% 5%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid white;
    border-radius: 2px;
    text-align: center;
    top: 0;
    left: 0;
    transition: transform 1s;
    overflow: hidden;
}
.hoverEffect:hover {
    box-shadow: 0 0 3px 2px rgba(255, 255, 255, 0.6);
    cursor: pointer;
}
.disabled {
    filter: brightness(50%);
}
.imgContainerDiv {
    width: 100%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.6);
    border-top-left-radius: 100%266%;
    border-top-right-radius: 100%266%; 
    border-bottom-left-radius: 100%266%;
    border-bottom-right-radius: 100%266%;
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.6);
    border-top-left-radius: 100%266%;
    border-top-right-radius: 100%266%; 
    border-bottom-left-radius: 100%266%;
    border-bottom-right-radius: 100%266%;
}
.titleSpan {
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1em;
}
.textSpan {
    height: 15%;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.cardFooter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cardCost {
    line-height: 1em;
}
.defense {
    background-color: rgba(51, 51, 51, 1);
}
.power {
    background-color: rgba(17, 17, 153, 1);
}
.offense {
    background-color: rgba(153, 17, 17, 1);
}