.play-card-animation {
    position: absolute;
    top: 0;
    left: 0;
    
    transition: transform 1s;
    transform: translate(0,0);
}

@keyframes playCard {
    0% {
        offset-distance: 0%;
    }

    100% {
        offset-distance: 100%;
    }
}