html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  background-color: black;
  color-scheme: dark;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.defense {
  background-color: rgba(51, 51, 51, 0.9);
}
.power {
  background-color: rgba(17, 17, 153, 0.9);
}
.offense {
  background-color: rgba(153, 17, 17, 0.9);
}
.card-container {
  max-width: 180px;
  max-height: 290px;
  height: 100%;
  position: relative;
  width: 100%;
  min-width: 130px;
  height: 100%;
  margin: auto;
  padding: 0 2px;
}
@media only screen and (max-height: 600px) {
  .card-container {
    min-width: auto;
    height: 100%;
    font-size: 12px;
  }
}
.card-back {
  overflow: hidden;
  background: center no-repeat url('../public/images/card-back.jpg');
}
.active-card {
  z-index: 11;
}
