html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.defense {
  background-color: rgba(51, 51, 51, 0.8);
}
.power {
  background-color: rgba(17, 17, 153, 0.8);
}
.offense {
  background-color: rgba(153, 17, 17, 0.8);
}
.card-container {
  width: 180px;
  height: 290px;
  position: relative;
}
.card-back {
  position: absolute;
  width: 180px;
  height: 290px;
  border: 1px solid white;
  border-radius: 2px;
  overflow: hidden;
  background: center no-repeat url('../public/images/card-back.jpg');
  z-index: 10;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
