.gameContainer {
  background-image: url('../public/images/space-bg.jpg');
  width: 100vw;
  height: 100svh;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1%;
}

@media only screen and (max-width: 1000px) {
  .gameContainer {
    grid-template-columns: 1fr 1fr 0fr 1fr 1fr;
  }
}

.border {
  border: 1px solid white;
}

.cardDeck {
  max-width: calc(160px * 0.9);
  max-height: calc(260px * 0.9);
  height: 100%;
  width: 100%;
  border: 1px solid white;
  border-radius: 2px;
  overflow: hidden;
  background: center no-repeat url('../public/images/card-back.jpg');
  visibility: hidden;
}

.cardDeck > div {
  position: relative;
  left: -1px;
  transform: translate(-2px, -2px);
}

@media only screen and (max-width: 1100px) {
  .cardDeck {
    visibility: hidden;
  }
}

.playedCardsDiv {
  width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  grid-column: 3 / 4;
  grid-row: 1;
  font-weight: bold;
  font-size: 32px;
}

.gamePlayDiv {
  width: 100%;
  height: 100%;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.handContainer {
  grid-column: 1 / 6;
  grid-row: 3;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: auto;
}

.playerHandDiv {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 33.3%;
  max-height: 320px;
  background-color: rgba(51, 51, 51, 0.6);
}

.shipOneDiv {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5%;
}

.shipTwoDiv {
  grid-column: 4 / 6;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5%;
}

.startContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 5%;
}

.startContainer > h1 {
  text-align: center;
}

.button {
  width: 100px;
  height: 40px;
}

.button:hover {
  cursor: pointer;
}

.winContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(51, 51, 51, 0.8);
}

@media only screen and (max-width: 600px) {
  .playerOneDiv {
    grid-row: 1 / 2;
  }
  
  .playerTwoDiv {
    grid-row: 1 / 2;
  }

  .shipOneDiv {
    grid-column: 1 / 6;
  }
  
  .shipTwoDiv {
    grid-column: 1 / 6;
  }
}
@media only screen and (max-width: 1100px) {
  .playerHandDiv {
    background-color: rgba(51, 51, 51, 0);
  }
}

@media only screen and (max-height: 800px) {
  .gameContainer {
    grid-template-columns: 1fr 1fr 0fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .playerHandDiv {
    width: 100vw;
    height: 50vh;
  }

  .shipOneDiv {
    grid-row: 1 / 2;
  }
  
  .shipTwoDiv {
    grid-row: 1 / 2;
  }

  .playerOneDiv {
    grid-row: 1 / 2;
  }

  .playerTwoDiv {
    grid-row: 1 / 4;
  }

  .cardDeck {
    visibility: hidden;
  }
}