.gameContainer {
  background-image: url('../public/images/space-bg.jpg');
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.border {
  border: 1px solid white;
}

.card-container {
  position: absolute;
  top: 0;
  bottom: 0;
}

.cardDeck {
  width: 180px;
  height: 290px;
  border: 1px solid white;
  border-radius: 2px;
  overflow: hidden;
  background: center no-repeat url('../public/images/card-back.jpg');
}

.cardDeck > div {
  position: relative;
  left: -1px;
  transform: translate(-2px, -2px);
}

.playedCardsDiv {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  grid-column: 2 / 5;
  grid-row: 1;
  font-weight: bold;
  font-size: 32px;
}

.playerOneDiv {
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 1 / 3;
}

.playerTwoDiv {
  width: 100%;
  height: 100%;
  grid-column: 5;
  grid-row: 1 / 3;
}

.gamePlayDiv {
  width: 100%;
  height: 100%;
  grid-column: 2 / 5;
  grid-row: 1 / 3;
}

.playerHandDiv {
  width: 100%;
  grid-column: 1 / 6;
  grid-row: 3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.8);
  padding: 10px;
}

.shipOneDiv {
  grid-column: 2;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shipTwoDiv {
  grid-column: 4;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.button {
  width: 100px;
  height: 40px;
}

.button:hover {
  cursor: pointer;
}

.winContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(51, 51, 51, 0.8);
}
